<div class="cd-timeline clearfix wow slideInRight" data-wow-duration="1s" data-wow-delay="0.1s">
  <div class="cd-timeline__icon">
    <i class="<%= icon %>"></i>
  </div>
  <div class="cd-timeline__content">
    <h3 class="cd-timeline__title">
      <%= title %>
    </h3>
    <div class="cd-timeline__body">
      <h4 class="cd-timeline__subtitle">
        <%= subtitle %>
      </h4>
      <p class="cd-timeline__description">
        <%= description %>
      </p>
      <button type="button" class="text-uppercase cd-timeline__link" data-toggle="modal" data-target="<%= data_target %>">
        <%= text_link %>
      </button>
    </div>
  </div>
</div>
