---
title: Ilaria Di Rosa
---

<%= partial "partials/sections/header-section" %>
<main>
  <%= partial "partials/sections/slide-section" %>
  <%= partial "partials/sections/about-me-top-section" %>
  <%= partial "partials/sections/skills-section" %>
  <%= partial "partials/sections/about-me-down-section" %>
  <%= partial "partials/sections/works-section" %>
  <%= partial "partials/sections/contacts-section" %>
</main>
<%= partial "partials/sections/footer-section" %>
